*{
    font-family: 'Poppins', sans-serif;
}

html,body, #home{
    height: 100%;   
}

.img-perfil{
    border-radius: 500px;
}

body{
    /* background: url("../img/capa.png");
    background-attachment: fixed; */
  
}
.element{
    letter-spacing: -0.05em;
    color: rgb(194, 194, 194);
}

.card-projects{
    height: 250px;
    top: 0;
    margin-bottom: 25px;
    box-shadow: 0 0 5px 0px #e2e2e2;
    position: relative;
    transition: all .3s ease-in-out
}
.card-projects:hover{
    top:-11px;
    box-shadow: 0 0 7px 0px #fff;
    border-bottom: 2px solid;
}

.link-exp{
    cursor: pointer;
}
.link-exp:hover{
    color: #65DAF9;
}
.list-item{
    list-style: none ;
    border-top: none;
    border-left: 2px solid rgb(68, 68, 68);
    width: auto;
    padding: 0.5rem 0.8rem;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.8s;
}
.list-item a{
    color: white;
}
.list-item-decored{
    list-style: none ;
    border-top: none;
    color: #65DAF9;
    border-left: 2px solid #65DAF9;
    width: auto;
    padding: 0.5rem 0.8rem;
    font-size: 14px;
    cursor: pointer; 
}
.list-item-decored a{
    color: #65DAF9;
}

.move{
    animation: move_left 1s;
}
@keyframes move_left{
    from{
        transform: translateX(-35%);
    }to{
        transform: translateX(0);
    }
}

@media (max-width: 575.98px) { 
    .element{
        font-size: 2em;
    }
    
 }


@media (min-width: 576px) and (max-width: 767.98px) { 
    .element{
        font-size: 3em;
    }
    
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .element{
        font-size: 3em;
    }

 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .element{
        font-size: 4em;
    }
}

@media (min-width: 1200px) { 
    .element{
        font-size: 5em;
    }
}