*{
    font-family: 'Poppins', sans-serif;
}

html,body, #home{
    height: 100%;   
}

.img-perfil{
    border-radius: 500px;
}

body{
    /* background: url("../img/capa.png");
    background-attachment: fixed; */
  
}
.element{

    font-size: 4rem;
    color: rgb(194, 194, 194);
}
